body{
    text-align: center;
    color: white;
    background-color: black;
}

ul{
    list-style-position: inside;
}

#per-img{
    width: 300px;
    height: 300px;
}

.bold-text{
    font-weight: bold;
}

.comic-img{
    margin-bottom: 10px;
}

.comic-date{
    margin-bottom: 10px;
}